<!--This component is used to display information about a food on the right side of the screen.-->

<div class="container-fluid">

  <div *ngIf='food === undefined'>
      <h1>Hover over a card to view more info</h1>
      <h5>... and click "select" to display it here!</h5>
  </div>
  <!-- This div will display if only and if -->
  <div *ngIf='food !== undefined'>
      <img [src]="food.imageURL" class="img-fluid" alt="{{food.name}}">
      <h1>{{ food.name }}</h1>

      <h5>Ingredients:</h5>
      <ul *ngFor="let ingredient of food.ingredients; let i = index">
        <li>{{ food.ingredients[i] }} - {{ food.measurements[i] }}</li>
      </ul>

      <h5>Instructions:</h5>
      <p>{{ food.instructions }}</p>

      <!--<h5>Watch:</h5>
       <iframe class="e2e-iframe-trusted-src" width="auto" height="175"
      [src]="food.youtubeURL">
      </iframe> -->

      <h5><a target="_blank" rel="noopener noreferrer" [href]="food.source">Source</a></h5>

  </div>
</div>
