<!doctype html>
<html lang="en">

<!--
WRITTEN BY: Andrew Ha
EMAIL: anha1@uci.edu
-->

<body>
    <div>
        <div class="row" *ngFor='let rowF of rowFoods; let index1 = index'>
            <div class="col" *ngFor='let food of rowF'>
              <app-random-meal-card [food]="food" (childFood)='EventForFood($event)'></app-random-meal-card>
                <!-- <div class="card">
                    <img class="card-img-top" src="{{ food.imageURL }}" alt="{{ food.name }}">
                    <h5 class="card-title">{{ food.name }}</h5>
                    <p>Area: {{ food.area }}</p>
                    <p>Category: {{ food.category }}</p>
                    <button type="button" class="btn btn-dark" (mouseover)='EventForFood(food)'>Description</button>
                </div> -->

                <!-- Find a way to add the component that will display on the right side, based on what food you clicked. -->
            </div>
        </div>
    </div>

</body>
</html>
