<!doctype html>
<html lang="en">

<!--
WRITTEN BY: Andrew Ha
EMAIL: anha1@uci.edu
-->

<body>
    <div>
      <div class="row">
        <div class="col">

          <nav class="navbar navbar-expand-lg navbar-light bg-clear">
            <a class="navbar-brand">View Category:</a>

              <div>
                <ul class="nav">
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Beef')">Beef</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Breakfast')">Breakfast</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Chicken')">Chicken</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Dessert')">Dessert</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Goat')">Goat</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Lamb')">Lamb</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Miscellaneous')">Misc</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Pasta')">Pasta</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Pork')">Pork</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Seafood')">Seafood</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Side')">Side</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Starter')">Starter</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Vegan')">Vegan</button>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-clear" (click)="filter('Vegetarian')">Vegetarian</button>
                  </li>
                </ul>
              </div>
          </nav>

        </div>

      </div>


        <div class="row" *ngFor='let rowF of rowFoods'>
            <div class="col" *ngFor='let food of rowF'>
              <app-random-meal-card [food]="food" (childFood)='EventForFood($event)' (mouseOutFood)='mouseOutFood()' (mouseOverFood)='mouseOverFood($event)'></app-random-meal-card>
            </div>
        </div>
    </div>

</body>
</html>
